<h3>Tasks</h3>
<hr/>
<div> Task Count : {{tasks.length}}</div>
<a href="/tasks/new">Create New</a>
<ol>
	{{#each tasks}}
		<li>{{name}}  <span>[ <a href="/tasks/remove/{{id}}">X</a> ]</span></li>
	{{/each}}
</ol>